

body{
    margin:0;
    padding:0
  }
  
  .navigation-bar{
      display:flex;
      flex-direction:row; 
      background-color:#f0f0ff;
      justify-content: space-evenly;
  }
  
  
  
  .navigation-heading{
    padding:5px;
    border:solid 1px;
    color:aqua;
  }
  
  .navigation-heading:hover{
    border:none;
    background-color:#ffd0f0;
  }
  
  .nav-link{
    text-decoration: none;
    color:black;
  }